a {
    text-decoration: none;
}
/* home content*/
.jumbotron{
    margin: 20px 0px;
    background-color: #eee;
    padding: 40px 10px;
}
/*_footer*/
.brand-icon{
    width: 20px;
}

.float-right{
    float: right;
}
.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 13px;
  font-weight: bold;
}
/* 用户头像 */
.gravatar {
  /*float: left;*/
  max-width: 50px;
  border-radius: 50%;
}

.btn-primary{
    margin: 10px 0px;
}
